@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
body{
	margin: 0;
	background-color: black;
	background-image: url(./image/Fond.png);
	font-family: 'Space Mono',monospace;
	color: white;
}
h1 {
	color: white;
	text-align: center;
	margin-top: 50px;
}

section h2 {
	padding-top: 25px;
	color: white;
	text-align: center;
	margin-top: 50px;
}
section h3 {
	padding-top: 25px;
	padding-left: 250px;
	display: flex;
	align-items: center;
}
#Soleil{
	padding-top: 25px;
	padding-left: 250px;
	color: #FFDD00;
}

#Lune {
	color: #D3D3D3;
	padding-top: 25px;
	padding-left: 250px;

}

section h3 img{
		padding-left: 20px;
}
p{
	text-align: center;
	padding-inline: 50px;
}

nav{
	display: flex;
	margin-top: 0;
    padding: 10px;
	background-color: black;
	color: white;
}


nav ul{
	font-size: 25px;
	list-style-type: none;
	text-align: right;
	width: 65%;
	justify-content: flex-end;




}
nav ul li{
	display: inline;
	margin-left: 50px;
	margin-right: 80px;


}
nav ul li img{
	margin-left: 8px;
	vertical-align: center;
	vertical-align: middle;
}
nav a {
	text-decoration: none;
	color: white;
}



table, th, td {
  text-align: center;
  border: 1px solid white;
  border-collapse: collapse;
}

table{
    margin: auto
}
td {
    text-align: center;
  color: white;
  padding: 5px;
}
tr:not(:last-child) {
text-align: center;
  border-bottom: 2px solid white;
}
caption{
    margin: auto
    color: white;
    text-align: center;
}



dt {
	display: flex;	
	align-items: center;
	

}

dt img {
	padding-inline: 20px;
}

dd{
	padding-bottom: 40px;
}
main{
	padding-bottom: 250px;
}
footer {
	display: flex;
	justify-content: center;
	align-items: center;
    background-color: black; 
    padding: 15px;
	}


